@{
    ViewBag.Title = "About";
}
<h2>Prince Manager </h2>
<h3>The power of teamwork</h3>
<h4></h4>

<p>Behind every great human achievement, there is a team. From medicine and space travel,
    to disaster response and pizza deliveries, our products help teams all over the planet advance humanity through 
    the power of software. Our mission is to help unleash the potential of every team through open work. </p>
